
		<link rel="stylesheet" href="/static/menu/navbar.css" />
	</head>
	<body>
		<!-- Main Navbar -->
		<div class="nav-container">
			<div class="power-button">
				<a href="/" class="icon-buttons"
					><svg
						width="44"
						height="46"
						viewBox="0 0 44 46"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M26.5093 7.57476C31.3857 8.62044 35.636 11.0443 38.6057 14.7416C41.5754 18.4388 42.99 22.9692 42.5875 27.4934C42.185 32.0177 39.9927 36.2291 36.4166 39.3476C32.8406 42.4661 28.1232 44.2803 23.1384 44.4541C18.1535 44.6279 13.2391 43.1495 9.30551 40.2928C5.37191 37.4361 2.68574 33.3947 1.74462 28.9173C0.803497 24.4399 1.6712 19.83 4.187 15.9415C6.70279 12.053 10.6962 9.14952 15.4273 7.7689L15.6818 13.4146C12.4196 14.3666 11.4569 16.2823 9.72223 18.9634C7.98756 21.6446 7.38926 24.8232 8.03818 27.9105C8.6871 30.9977 10.5392 33.7843 13.2515 35.754C15.9638 37.7237 19.3523 38.7431 22.7895 38.6233C26.2266 38.5034 29.4793 37.2525 31.945 35.1023C34.4107 32.952 35.9224 30.0482 36.1999 26.9287C36.4774 23.8091 35.502 20.6854 33.4544 18.1361C31.4067 15.5868 30.1621 14.5117 26.7997 13.7907L26.5093 7.57476Z"
							fill="#FFF4F4"
						/>
						<rect
							width="7.71526"
							height="24.0094"
							rx="3.85763"
							transform="matrix(0.999953 0.00970092 0.0135065 0.999909 17.1169 0)"
							fill="#FFF4F4"
						/>
					</svg>
				</a>
			</div>
			<div class="nav-items-container">
				<div class="nav-buttons">
					<a href="/<%=username%>/dashboard" class="icon-buttons <%=title=="Dashboard"? "active" : "inactive"%>"
						><svg
							width="33"
							height="35"
							viewBox="0 0 33 35"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M1 16.993C1 15.8784 1.46505 14.8144 2.28307 14.0573L13.3843 3.78331C14.8837 2.39562 17.1879 2.3609 18.7285 3.70279L30.6272 14.0671C31.4994 14.8268 32 15.9267 32 17.0833V30C32 32.2091 30.2091 34 28 34H5C2.79086 34 1 32.2091 1 30V16.993Z"
								stroke="#FFF4F4"
								stroke-width="2"
							/>
							<rect x="8" y="26" width="18" height="2" rx="1" fill="#FFF4F4" />
						</svg>
					</a>
				</div>
				<div class="nav-buttons">
					<a href="/groups" class="icon-buttons <%=title=="Groups"? "active" : "inactive"%>"
						><svg
							width="60"
							height="41"
							viewBox="0 0 60 41"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M43 11.6438C43 16.7692 38.2047 21.1438 32 21.1438C25.7953 21.1438 21 16.7692 21 11.6438C21 6.5183 25.7953 2.14375 32 2.14375C38.2047 2.14375 43 6.5183 43 11.6438Z"
								stroke="#FFF4F4"
								stroke-width="2"
							/>
							<path
								d="M47 35.1589C47 36.7893 46.5849 37.6497 46.0313 38.1521C45.4441 38.685 44.5091 38.9952 43.0926 39.1012C41.6857 39.2065 39.9831 39.1009 37.9937 38.959C37.8491 38.9487 37.7031 38.9382 37.5558 38.9276C35.704 38.7945 33.6501 38.6469 31.5 38.6469C29.3499 38.6469 27.296 38.7945 25.4442 38.9276C25.2969 38.9382 25.1509 38.9487 25.0063 38.959C23.0169 39.1009 21.3143 39.2065 19.9074 39.1012C18.4909 38.9952 17.5559 38.685 16.9687 38.1521C16.4151 37.6497 16 36.7893 16 35.1589C16 28.7312 22.7055 23.1438 31.5 23.1438C40.2945 23.1438 47 28.7312 47 35.1589Z"
								stroke="#FFF4F4"
								stroke-width="2"
							/>
							<path
								d="M17 19.9899C10.7624 19.9899 5.70589 15.7711 5.70589 10.5668C5.70589 5.36261 10.7624 1.14375 17 1.14375"
								stroke="#FFF4F4"
								stroke-width="2"
							/>
							<path
								d="M16.5294 35.6978C7.95275 35.6978 1 38.121 1 31.6701C1 25.2193 7.95275 19.9899 16.5294 19.9899"
								stroke="#FFF4F4"
								stroke-width="2"
							/>
							<path
								d="M48.3333 19.9899C52.7516 19.9899 56.3333 15.7711 56.3333 10.5668C56.3333 5.36261 52.7516 1.14375 48.3333 1.14375"
								stroke="#FFF4F4"
								stroke-width="2"
							/>
							<path
								d="M48 35.6978C54.0751 35.6978 59 38.121 59 31.6701C59 25.2193 54.0751 19.9899 48 19.9899"
								stroke="#FFF4F4"
								stroke-width="2"
							/>
							<path
								d="M48.5 1.14375C42 1.14375 41.5 3.14375 40 4.711"
								stroke="#FFF4F4"
								stroke-width="2"
							/>
							<path
								d="M16 1.14375C17.1667 0.810417 20.6 0.84375 25 3.64375"
								stroke="#FFF4F4"
								stroke-width="2"
							/>
						</svg>
					</a>
				</div>
				<div class="nav-buttons">
					<a href="/marketplace" class="icon-buttons <%=title=="Marketplace"? "active" : "inactive"%>"
						><svg
							width="44"
							height="41"
							viewBox="0 0 44 41"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<mask id="path-1-inside-1_130_119" fill="white">
								<path
									d="M34 23C34 26.9306 32.7849 30.7532 30.5402 33.8839C28.2955 37.0146 25.1448 39.2812 21.5691 40.3377C17.9934 41.3941 14.1894 41.1822 10.7382 39.7344C7.28693 38.2866 4.37812 35.6824 2.45606 32.3197C0.533998 28.9569 -0.295655 25.0204 0.0938223 21.1115C0.4833 17.2026 2.0705 13.5361 4.61298 10.672C7.15547 7.80796 10.5135 5.90382 14.1741 5.25043C17.8347 4.59704 21.5967 5.23032 24.8854 7.05354L17 23H34Z"
								/>
							</mask>
							<path
								d="M34 23C34 26.9306 32.7849 30.7532 30.5402 33.8839C28.2955 37.0146 25.1448 39.2812 21.5691 40.3377C17.9934 41.3941 14.1894 41.1822 10.7382 39.7344C7.28693 38.2866 4.37812 35.6824 2.45606 32.3197C0.533998 28.9569 -0.295655 25.0204 0.0938223 21.1115C0.4833 17.2026 2.0705 13.5361 4.61298 10.672C7.15547 7.80796 10.5135 5.90382 14.1741 5.25043C17.8347 4.59704 21.5967 5.23032 24.8854 7.05354L17 23H34Z"
								stroke="#FFF4F4"
								stroke-width="4"
								mask="url(#path-1-inside-1_130_119)"
							/>
							<path
								d="M37.0884 17.285L22.631 18.997L30.2059 6.05387L37.0884 17.285Z"
								stroke="#FFF4F4"
								stroke-width="2"
							/>
						</svg>
					</a>
				</div>
				<div class="nav-buttons">
					<a href="/leaderboards" class="icon-buttons <%=title=="Leaderboards"? "active" : "inactive"%>"
						><svg
							width="44"
							height="50"
							viewBox="0 0 44 50"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<rect
								x="1"
								y="6"
								width="42"
								height="43"
								rx="7"
								stroke="#FFF4F4"
								stroke-width="2"
							/>
							<rect x="10" width="4" height="14" rx="2" fill="#FFF4F4" />
							<rect x="16" y="21" width="4" height="14" rx="2" fill="#FFF4F4" />
							<rect
								x="16.0042"
								y="37.0145"
								width="4"
								height="14"
								rx="2"
								transform="rotate(-90.0595 16.0042 37.0145)"
								fill="#FFF4F4"
							/>
							<rect x="28" width="4" height="14" rx="2" fill="#FFF4F4" />
						</svg>
					</a>
				</div>
			</div>
			<div></div>
		</div>

		<!-- Top Navbar -->
		<div class="top-nav-container">
			<div class="top-nav-buttons profile-dropdown">
				<button  onclick="dropDown()" class="profile-button"><%=username.charAt(0).toUpperCase()%></button>
					<div id="dropDown" class="profile-dropdown-content">
						<a href="/<%=username%>/dashboard">My Profile</a>
						<a href="/logout">Logout</a>
					</div>
				
			</div>
			<div class="top-nav-buttons">
				<button class="notification-button">
					<svg
						width="39"
						height="61"
						viewBox="0 0 39 61"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M12.0472 30.9006C12.0069 31.1833 11.9681 31.4577 11.9307 31.7233C11.5371 34.5205 9.95478 36.995 7.5755 38.5176L6.54349 39.178C2.84473 41.545 1.57744 46.3519 3.62844 50.2348C5.09068 53.003 7.96447 54.7351 11.0952 54.7351H18.6545H31.3438C31.7412 54.7351 32.1376 54.6968 32.5277 54.6207C35.2328 54.0927 37.2614 51.8373 37.5008 49.0915L37.6499 47.3811C37.8714 44.8408 36.9353 42.3362 35.102 40.5639L32.7811 38.3203C31.2871 36.876 30.1677 35.0893 29.5199 33.1149L28.5213 30.0714C25.1515 19.801 13.5713 20.1996 12.0472 30.9006Z"
							stroke="#FFF4F4"
							stroke-width="2"
						/>
						<path
							d="M15.3334 57.373V57.373C18.3637 59.5712 22.4158 59.7412 25.6196 57.8045L26.3334 57.373"
							stroke="#FFF4F4"
							stroke-width="3"
						/>
					</svg>

				</button>
			</div>
			<div class="top-nav-buttons">
				<svg
					width="62"
					height="59"
					viewBox="0 0 62 59"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M36.8243 7.56739L42.5434 12.4221C43.1944 12.9747 43.8983 13.4619 44.6449 13.8765L50.5827 17.1739C54.7021 19.4616 56.3597 24.5394 54.3834 28.8169L51.7785 34.4549C51.3998 35.2746 51.1075 36.1316 50.9063 37.0118L49.4236 43.5015C48.4164 47.9097 44.2949 50.8862 39.7937 50.4561L32.2365 49.734C31.414 49.6555 30.586 49.6555 29.7635 49.734L22.2063 50.4561C17.7051 50.8862 13.5836 47.9097 12.5764 43.5015L11.0937 37.0118C10.8925 36.1316 10.6002 35.2746 10.2215 34.4549L7.6166 28.8169C5.64028 24.5394 7.29786 19.4616 11.4173 17.1739L17.3551 13.8765C18.1017 13.4619 18.8056 12.9747 19.4566 12.4221L25.1757 7.56739C28.535 4.71582 33.465 4.71582 36.8243 7.56739Z"
						stroke="#FFF4F4"
						stroke-width="4"
					/>
					<path
						d="M39.1814 35.3371C39.9672 35.8667 40.219 36.925 39.6361 37.6664C38.4359 39.1931 36.9012 40.39 35.1596 41.1428C32.9203 42.1108 30.4532 42.2952 28.1104 41.6698C25.7675 41.0444 23.6687 39.6411 22.1134 37.6602C20.5581 35.6793 19.6258 33.222 19.4495 30.639C19.2733 28.056 19.862 25.4792 21.1318 23.2764C22.4016 21.0737 24.2875 19.3574 26.5204 18.3727C28.7534 17.3879 31.2192 17.1849 33.566 17.7927C35.3807 18.2626 37.0524 19.1987 38.4423 20.5094C39.1372 21.1647 39.0458 22.2549 38.3453 22.8969C37.5722 23.6055 36.3651 23.4856 35.5324 22.8392C34.6993 22.1926 33.752 21.7218 32.7408 21.4599C31.1142 21.0387 29.4052 21.1794 27.8576 21.8619C26.31 22.5444 25.0029 23.7339 24.1228 25.2607C23.2427 26.7874 22.8347 28.5733 22.9568 30.3636C23.079 32.1538 23.7252 33.8569 24.8031 35.2299C25.8811 36.6028 27.3358 37.5754 28.9595 38.0089C30.5833 38.4423 32.2932 38.3145 33.8452 37.6436C34.8326 37.2168 35.724 36.5841 36.4711 35.7888C37.1745 35.04 38.3251 34.7602 39.1814 35.3371Z"
						fill="#FFF4F4"
					/>
					<path
						d="M34.2847 33.8699C33.3642 33.5461 32.833 32.5107 33.3186 31.6746C33.5379 31.2971 33.7891 30.9404 34.0696 30.6093C34.7237 29.837 35.5228 29.2209 36.4149 28.801C37.3069 28.3811 38.2721 28.1668 39.2475 28.172C40.223 28.1772 41.1871 28.4018 42.077 28.8312C42.967 29.2605 43.763 29.8851 44.4133 30.6643C45.0636 31.4435 45.5536 32.3599 45.8516 33.3539C46.1496 34.348 46.2489 35.3975 46.143 36.4342C46.099 36.8646 46.0201 37.2888 45.9076 37.7021C45.6467 38.6616 44.5385 38.9344 43.6893 38.4026L43.5195 38.2962C42.7903 37.8396 42.5694 36.8734 42.6567 36.0184C42.7092 35.5044 42.66 34.9841 42.5123 34.4913C42.3646 33.9985 42.1216 33.5441 41.7992 33.1579C41.4768 32.7716 41.0822 32.4619 40.641 32.249C40.1998 32.0362 39.7219 31.9248 39.2382 31.9223C38.7546 31.9197 38.2762 32.0259 37.8339 32.2341C37.3916 32.4423 36.9955 32.7477 36.6712 33.1306C36.1329 33.7661 35.3049 34.2289 34.5073 33.9482L34.2847 33.8699Z"
						fill="#FFF4F4"
					/>
				</svg>
				<span class="geekcoins"><%=geekcoins%></span>
			</div>
		</div>
		<script src="/static/menu/navbar.js"></script>