<%- include('../structure/header') %>
<link rel="stylesheet" href="/static/menu/dashboard.css">
<%- include('../structure/sidenav') %>
    <div class="main-container">
        <div class="welcome-container">
            <div class="container-text">
                <span>Welcome<%= vists === 0 ? "": " back," %></span> <div><%=username%></div>
            </div>
            <div class="profile-image">
                <svg width="195" height="218" viewBox="0 0 195 218" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M195 217.5C195 190.581 184.728 164.764 166.443 145.729C148.158 126.694 123.359 116 97.5 116C71.6414 116 46.8419 126.694 28.5571 145.729C10.2723 164.764 3.90454e-06 190.581 0 217.5L195 217.5Z" fill="#6590FF"/>
                <path d="M157 59C157 91.5848 130.809 118 98.5 118C66.1913 118 40 91.5848 40 59C40 26.4152 66.1913 0 98.5 0C130.809 0 157 26.4152 157 59Z" fill="#C4C4C4"/>
                </svg>
            </div>   
        </div>

        <div class="events-container">
            <div class="event-shine-container">
                <a href="/itweek/worldofchoice">
                <div class="itweek-container">
                    <span>IT Event<div class="event-counter">Friday</div></span>
                
                    <div class="event-button">
                        <svg width="56" height="51" viewBox="0 0 56 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M49.2895 16.3261C57.4235 19.7805 57.4071 31.3148 49.2632 34.746L14.4151 49.4281C7.81783 52.2077 0.522219 47.3572 0.532444 40.1984L0.574526 10.7346C0.584751 3.57568 7.89417 -1.25388 14.4835 1.5445L49.2895 16.3261Z" fill="#424152"/>
                        </svg>
                    </div>
                </div>
                </a>
            </div>
            <div class="leaderboard-container">
                <span>Leaderboards</span>
                <div>
                    <a class="check-button" href="/leaderboards">Check now</a>
                </div>
            </div>
        </div>
    </div>   
    <div class="user-nav-container">
        <div class="level-container">
            <div class="level-text">
                Level <%=levels%>:
            </div>
            <div class="exp-bar-container">
                <span class="exp-bar-outer">
                    <span class="exp-bar"></span>
                </span>
            </div>
        </div>
        <div class="group-container">
                <h3>Groups</h3>
                <div class="groups-sub-container">
                    <% if (groupName !=="Solo") { %>
                        <div class="group-icon"></div>
                            <div class="group-name">
                            <%= groupName   %>
                            <div class="status">Online * 1</div>
                        </div>
                    <% } else { %>
                        <div class="data-empty-container">
                            <div class="data-empty-text">
                                No Groups joined
                            </div>
                        </div>
                    <% } %>    
                </div>
             </div>
        <div class="recent-container">
            <h3>Recently Played</h3>
           <% if (groupName!=="Solo") { %>
                <% for( let index = 0; index < 1; index++ ) { %>
                    <div class="recent-sub-container">
                        <div class="game-icon"></div>
                        <div class="game-name">
                            Snake Game
                            <div class="highscore">Highscore: 1200</div>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <div class="data-empty-container">
                    <div class="data-empty-text">
                        No Recently Played Games
                    </div>
                </div>
            <% } %>
        </div>
    </div> 
	</body>
</html>
